[Desktop Entry]
Name=Adome
Comment=Actually Decent Offline Mermaid Editor
Exec=/opt/adome/adome
Icon=adome
Terminal=false
Type=Application
Categories=Utility;Development;
